<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Michael Bensoussan" />
   <link href="http://mickeyben.com/atom.xml" rel="alternate" title="Michael Bensoussan" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Michael Bensoussan</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Michael Bensoussan<br />
        <a alt="Drivemeup" href="http://drivemeup.com/">My Company</a><br />
        mbensoussan.is@gmail.com 
      </p>
    </div>
    <div class="contact">
      <p>
        <a alt="Twitter" href="http://twitter.com/mickeyben/">Twitter</a><br />
        <a alt="LinkedIn" href="http://www.linkedin.com/in/mbensoussan">LinkedIn</a><br />
        <a alt="GitHub" href="http://github.com/mickeyben/">Github</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
		<a alt="Tumblr" href="http://mickeyben.tumblr.com/">Tumblr</a><br />
        <a alt="Delicious" href="http://delicious.com/pada51/">Delicious</a><br />
        <a alt="Last.fm" href="http://www.last.fm/user/pada51">Last.fm</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
		<a alt="Flickr" href="http://www.flickr.com/photos/27495609@N02/">Flickr</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://mickeyben.com/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12198467-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
